# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 3rd party
3rd_party/
3rd_party/libs/*
demo_data/
conf/
weights/
_bin/
_lib/
build/
cmake-build-debug/
.vscode/
.idea/
.VSCodeCounter/

# python cache
*__pycache__*
